<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="pubmaster.Master.cs"
    Inherits="PubEnt.pubmaster" %>

<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10" />
    <title>NCI Publications Locator for Admins</title>
    <meta name="content-language" content="en" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta http-equiv="CACHE-CONTROL" content="NO-STORE" />
    <meta http-equiv="Expires" content="-1" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="stylesheet" href="stylesheets/pubsent-styles.css" type="text/css" />
    <script type="text/javascript" src="scripts/searchres.js"></script>
    <script type="text/javascript" src="scripts/cart.js"></script>
    <script type="text/javascript" src="scripts/master.js"></script>
    <script type="text/javascript">
    <!--
        if (top.frames.length != 0)
            top.location = self.document.location;
    // -->
    </script>
</head>
<body>
    <div id="outerdiv">
        <!--Begin Outer Div-->
        <!--Begin Header Divs-->
        <div class="skip">
            <a href="#skiptocontent" title="Skip to content">Skip to content</a>
        </div>
        <div id="ncibanner" class="clearFix red">
            <ul>
                <li class="nciLogo"><a href="http://www.cancer.gov" title="The National Cancer Institute">
                    The National Cancer Institute</a> </li>
                <li class="nciURL"><a href="http://www.cancer.gov" title="www.cancer.gov">www.cancer.gov</a>
                </li>
                <li class="nihText"><a href="http://www.nih.gov" title="The U.S. National Institutes of Health">
                    The National Institutes of Health</a> </li>
            </ul>
        </div>
        <map id="ncipubloc" name="ncipubloc">
            <area alt="NCI Publications Locator" shape="rect" coords="0,0,371,87" href="home.aspx"
                onmouseover="fnMouseOverLogo();fnMouseOver()" onmouseout="fnMouseOutLogo();fnMouseOut()" />
        </map>
        <div id="outerdiv-underncibanner">
            <!--Begin outerdiv-underncibanner-->
            <form id="mainform" runat="server">
            <div id="yellowdiv" class="clearFix">
                <div id="divLogo">
                    <h1>
                        <img id="logoImage" alt="NCI Publications Locator" src="images/logo.gif" usemap="#ncipubloc" /></h1>
                    <div id="divFloatLink" style="display: none">
                        <a id="FloatLink" href="home.aspx" onmouseover="fnMouseOver()" onmouseout="fnMouseOut()"
                            class="homelink">Home</a>
                    </div>
                </div>
                <asp:Panel ID="pnlTopRight" runat="server">
                    <div class="headerLinkRegion" id="dvtopright" runat="server">
                        <asp:Literal ID="LiteralListItem" runat="server"></asp:Literal>
                        
                        <div id="loginregion">
                            <asp:Label ID="Label1" runat="server" Visible="False"></asp:Label>
                            <asp:HyperLink ID="lnkEditAcc" runat="server" NavigateUrl="~/changepwd.aspx" Visible="false"></asp:HyperLink>
                            <asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/login.aspx" Visible="False"
                                CausesValidation="False">Login</asp:LinkButton>
                            <asp:LinkButton ID="LinkButton2" runat="server" Visible="False" CausesValidation="False"
                                OnClick="LinkButton2_Click">Logout</asp:LinkButton>
                        </div>
                    </div>
                </asp:Panel>
            </div>
            <!--End Header Divs-->
            <!--Begin Content Div-->
            <div id="contentdiv">
                <div id="maincontent">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <div id="divContactBlock">
                    <div class="contactustextdiv">
                        <span class="contactustext">Contact us for help with ordering</span>
                    </div>
                    <div class="contactlinks clearFix">
                        <div class="footphone">
                            <div class="footimg">
                            </div>
                            1-800-4-CANCER<br />
                            (1-800-422-6237)</div>
                        <div class="foothelp">
                            <div class="footimg">
                            </div>
                            <a href="nciplhelp.aspx">Help</a></div>
                        <div class="footemail">
                            <div class="footimg">
                            </div>
                            <a href="http://www.cancer.gov/contact">www.cancer.gov/contact</a>
                            <br />
                            <a href="mailto:NCI@gpo.gov">NCI@gpo.gov</a></div>
                    </div>
                </div>
            </div>
            </form>
            <!--End Content Div-->
            <!--Begin Footer Div-->
            <div id="cgvFooter">
                <ul id="footerUtility">
                    <li>
                        <asp:HyperLink ID="lnkHome" runat="server" Text="Home" NavigateUrl="~/home.aspx"
                            CssClass=""></asp:HyperLink>
                    </li>
                    <li><a href="http://www.cancer.gov/global/web/policies">Policies</a> </li>
                    <li><a href="http://www.cancer.gov/global/web/policies/copyright">Copyright and Reuse
                        of Graphics and Text</a> </li>
                    <li><a href="privacypolicy.aspx">Privacy Policy</a> </li>
                    <li><a href="http://www.cancer.gov/global/web/policies/foia">FOIA</a> </li>
                    <li><a href="http://www.cancer.gov/global/web/policies/accessibility">Accessibility</a>
                    </li>
                    <li class="last"><a href="http://www.cancer.gov/global/viewing-files">Viewing Files</a>
                    </li>
                </ul>
                <ul id="agencyLinks">
                    <li><a href="http://www.hhs.gov/">
                        <img width="33" height="34" src="images/footer/footer-hhs.gif" alt="Department of Health and Human Services" />
                    </a></li>
                    <li><a href="http://www.nih.gov/">
                        <img width="31" height="34" src="images/footer/footer-nih.gif" alt="National Institutes of Health" />
                    </a></li>
                    <li><a href="http://www.cancer.gov/">
                        <img width="45" height="34" src="images/footer/footer-nci.gif" alt="National Cancer Institute" />
                    </a></li>
                    <li><a href="http://www.usa.gov/">
                        <img width="83" height="34" src="images/footer/footer-usa.gif" alt="USA.gov" />
                    </a></li>
                </ul>
                <div class="nih-tagline">
                    NIH…Turning Discovery Into Health<sup>&reg;</sup>
                </div>
            </div>
            <!-- End Footer Div -->
        </div>
        <!--End outerdiv-underncibanner-->
    </div>
    <!--End Outer Div-->
</body>
</html>
