@model ManagementApplication.Models.Application

<h2>Create New Application</h2>
    
    @(Html.EditorForModel())
    <div>
        @(Html.ActionLink("Back to List", "Index"))
    </div>

@section HeadContent { 
 
}
