@model UserAttribute
<div class="user_attribute">
    <div class="editor-label">
        @(Html.TextBoxFor(m => m.Key))
    </div>
    <div class="editor-field">
        @(Html.TextBoxFor(m => m.Value))
    </div>
    <input class="btn attribute_button" onclick="delete_attribute(this);" type="button" value="Delete" style="width:75px;" />
</div>