@model IEnumerable<string>

@section HeadContent { 
<script type="text/javascript">
    $(function () {
        var delete_row = function () {
            if (confirm("Deleting this role is a permanent action, which will revoke it from all users, are you sure you wish to continue?")) {
                var role = $(event.target).parent().prev().html();
                var url = '../Delete/' + $('#id').val();
                var target = $(event.target);
                $.post(url, { role: role },
                    function (data) {
                        if (data.result_success == 'true') {
                            target.parent().parent().remove();
                            $('.error').html('');
                        }
                        else {
                            $('.error').html(data.errormessage);
                        }
                    },
                    "json"
                );
            }
        };

        var add_row = function () {
            var role = $('#new_role').val();
            var url = '../Add/' + $('#id').val();
            var target = $(event.target);
            $.post(url, { role: role },
            function (data) {
                if (data.result_success == 'true') {
                    var row = target.parent().parent().clone();
                    row.find('td').first().html(role);
                    row.find('td').last().html("<a class='delete' href='javascript:void();'>Delete</a>");
                    target.parent().parent().before(row);
                    $('.error').html('');
                    $('a.delete').click(delete_row);
                    $('#new_role').val('');
                }
                else {
                    $('.error').html(data.errormessage);
                }
            },
            "json"
            );
        };

        $('a.delete').click(delete_row);
        $('a.add').click(add_row);
    });
</script> 
}

@(Html.Hidden("id", ViewData["id"]))
    <span class="error"></span>
    <table>
        <tr>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    @foreach(string role in Model) {
        <tr>
            <td>@(role)</td>
            <td>
                <a class="delete" href="#">Delete</a>
            </td>
        </tr>
    }
        <tr>
            <td><input type="text" id="new_role" /></td>
            <td><a class="add" href="#">Add</a></td>
        </tr>
    </table>