@model User

<h2>Password Generated</h2>
    <p>The password for <span style="font-weight:bold;color:Blue;">@(Model.Username)</span> is now <span style="font-weight:bold;color:Blue;">@(ViewData["password"])</span></p>
    <p>The user will need to reset this password on their next login.</p>
    @(Html.ActionLink("Return to User List", "Index", "Users",  new { id = Model.Application }, null))