
@if (Request.IsAuthenticated) {
    <div>
        Welcome <b>@Html.Encode(Html.ViewContext.HttpContext.User.Identity.Name)</b>!
        [ @Html.ActionLink("Change Password", "ChangePassword", "LogOn") ]
        [ @Html.ActionLink("Log Off", "LogOff", "LogOn") ]
    </div>
}
else
{
    <div>
        [ @Html.ActionLink("Log On", "LogOn", "Index") ]
    </div>
}
