

@using (Html.BeginForm()) {
        <div>
            <div>
                <label for="currentPassword"><b>Current Password:</b></label><br/>
                @(Html.Password("currentPassword"))
                @(Html.ValidationMessage("currentPassword"))
            </div>
            <div>
                <label for="currentPassword"><b>New Password:</b></label><br/>
                @(Html.Password("newPassword"))
                @(Html.ValidationMessage("newPassword"))
            </div>
            <br/>
            <input type="submit" value="Change Password"/>
        </div>
    }
    <br/><br/>
