.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.editor-label
{
    vertical-align:top;
    display:inline-block;
    width:20em;
    /*feeling bad for IE7...*/
    *display: inline;
    zoom:1;
}

.editor-field
{
    display:inline-block;
    /*feeling bad for IE7...*/
    *display: inline;
    zoom:1;
}

#login > input
{
    width:100%;
}