/* Main Stylesheet for Pubs Enterprise - NCIPL - 2014-15*/
/*order: Screen: reset, styles, width based styles; Print styles*/

/* SCREEN SPECIF CSS */
@media screen {
    /* RESET */    /* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
    body { line-height: 1; }
    ol, ul { list-style: none; }
    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
    table { border-collapse: collapse; border-spacing: 0; }

    /* PUBSENT STYLES */
    body { font-size: 100%; font-weight: normal; line-height: 1.375em; background-color: #f7f8f3; }
    body, a, p, ul, ol, dl, form { font-family: 'Noto Sans', Arial,sans-serif; color: #2e2e2e; }
    h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat',Arial,sans-serif; font-weight: bold; color: #606060; margin-top: 1em; margin-bottom: 0.5em; }
    input, select, textarea, button { font-family: inherit; font-size: inherit; }
    a, a:link, a:visited { text-decoration: none; color: #2b7bba; }
    a:visited { color: #881887; }
    a:active, a:hover, a:focus { color: #2795b6; text-decoration: underline; }
    strong { font-weight: bold; }
    em { font-style: italic; }
    h1 { line-height: 1.1em; font-size: 2em; margin: 0; }
    h2 { line-height: 1.215em; font-size: 1.75em; }
    h3 { line-height: 1.25em; font-size: 1.5em; }
    h4, h6 { line-height: 1.333em; font-size: 1.25em; }
    h5 { line-height: 1.333em; font-size: 1.125em; }
    p { margin: 0.5em 0; line-height: 1.5em; font-size: inherit; }
    ul, ol { padding-left: 2em; list-style-position: outside; line-height: 1.6em; list-style-position: outside; margin-bottom: 1em; }
    ul { list-style-type: disc; }
    ol { list-style-type: decimal; }
    sup, sub { font-size: .8em; }
    sup { vertical-align: super; }
    sub { vertical-align: sub; }

    /* site wrap and mast */
    #outerdiv { width: 100%; }
    #outerdiv-underncibanner { width: 90%; margin: 0 auto; background-color: #fffffb; box-shadow: 10px 0 10px -7px rgba(0, 0, 0, 0.5), -10px 0 10px -7px rgba(0, 0, 0, 0.5); min-width: 770px; }
    /*contentwraps*/
    #mainform { display: inline; margin: 0; }
    #yellowdiv { background-color: #fffffb; width: 100%; }
    #contentdiv { margin: 0 auto; width: 100%; }
    #contentdiv table { width: 100%; }
    #maincontent { padding-bottom: 1em; }
    .indentwrap { padding: 0 1em; }
    /*searchbar*/
    #searchboxregion { background-color: #2a71a5; color: #fff; width: 100%; padding-top: .5em; }
    .searchboxwrap { display: table; border-collapse: collapse; width: 100%; vertical-align: middle; }
    .searchbuttons, .searchtxtbox { display: table-cell; /*width: 25%;*/ width: 32%; min-width: 220px; }
    .searchbuttons { padding-left: .7em; }
    .searchbuttons .searcharea { display: inline-block; padding: .3em; }
    .searchtxtbox { padding: .3em .3em .3em 1em; /*width: 75%;*/ width: 68%; }
    .searchtxtbox input { padding: .2em .3em; font-size: 1em; }
    .hidden-label { height: 1px; left: -9999px; overflow: hidden; position: absolute; top: -9999px; width: 1px; }
    .textGray, .searchboxtext { font-family: inherit; font-size: inherit; width: 98%; }
    .textGray { color: #8B8B8B; }
    .titleindex { padding-left: 1.3em; padding-bottom: 0.2em; line-height: 1.8em; }
    .blanksearchbar { height: 1.8em; }
    #searchboxregion { min-height: 1em; min-width: 770px; }
    .linkPubIndex, .inactiveIndexLink { padding-left: 1.3%; padding-right: 0; }
    .linkPubIndex, .linkPubIndex:link { color: #FFF; }
    .linkPubIndex:visited { color: #F2F2F2; }
    .linkPubIndex:active, .linkPubIndex:hover { color: #eef; }
    .inactiveIndexLink, .inactiveIndexLink:link, .inactiveIndexLink:visited, .inactiveIndexLink:active, .inactiveIndexLink:hover { color: #FFF; text-decoration: none; }
    a.info:hover { text-indent: 0; }
    a.info { position: relative; z-index: 24; background-color: inherit; color: #003366; text-decoration: none; }
    a.info:hover { z-index: 25; background-color: #f0f0f0; text-decoration: none; border-bottom: #999 1px dashed; }
    a.info div { position: absolute; top: -9999px; width: 1px; height: 1px; overflow: hidden; }
    a.info:hover div { display: block; position: absolute; top: 1.5em; right: 0; width: 15em; height: auto; border: 1px solid #999; background-color: #fff; color: #000; text-align: left; padding: 0.5em; font-size: 0.9em; line-height: 1.3em; }
    a.info.st:hover div { top: 3em; right: 0em; left: -35em; width: 40em; }
    a.info.st { font-family: inherit; color: #fff; line-height: 2em; }
    a.info.st:hover { background-color: #fff; color: #000; }
    a.info.st p, a.info.st ul, a.info.st li { font-family: inherit; }
    #divAdvSpacer { padding-top: 0.4em; }
    /*logo and right header nav*/
    #divLogo, #divLogo h1, #divLogo a { height: 100px; }
    #divLogo { width: 408px; float: left; }
    .headerLinkRegion { float: right; }
    .headerLinkRegion, .headerLinkRegion a { }
    .headerLinkRegion { background-color: white; color: #606060; float: right; line-height: 1.4em; padding-left: 5px; padding-right: 5px; width: 45%; }
    .headerLinkRegion div { font-size: inherit; }
    .headerLinkRegion img { margin-right: .5em; }
    #cartnav { margin: .85em 0 .3em 0; }
    #loginregion { font: inherit; }
    #loginregion a { font: inherit; margin-left:1em; }
    /*ncibanner,footer*/
    .clearFix { display: block; }
    .clearFix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
    .skip a { font-size: 1.1em; line-height: 1.3em; }
    .skip a, .skip a:hover, .skip a:visited { left: -9999px; position: absolute; }
    .skip a:active, .skip a:focus { display: block; left: 0; z-index: 9999; background: #fff; border: 1px solid #000; padding: 5px 5px 5px 5px; }
    #cgvFooter { margin: 0; padding: 1em 0; text-align: center; background-color: #123e57; color: #fff; }
    #cgvFooter a.foothead { font-family: "Montserrat",Arial,sans-serif; font-size: 25px; font-weight: normal; text-align: left; display: block; padding-left: .6em; margin: .6em 0; color: #fff; }
    #cgvFooter h2 { text-transform: uppercase; font-family: "Noto Sans",Arial,sans-serif; font-size: 1em; font-weight: normal; margin-bottom: 1em; color: #fff; }
    .footerSection { width: 30%; display: block; text-align: left; float: left; padding-left: 1em; }
    .more { width: 33%; }
    #cgvFooter ul { margin: 0; padding: 0; }
    #cgvFooter ul li { list-style: none outside none; margin: 0; padding: 0; line-height: 1.1em; margin-bottom: 1em; }
    ul#agencyLinks li { display: inline; }
    #cgvFooter ul.footerUtility li a { color: #fff; font-weight: 700; }
    ul#agencyLinks { margin: 1em 0 0; clear: both; padding-top: 1em; }
    ul#agencyLinks li a { color: #fff; font-weight: 700; }
    ul#agencyLinks li a:hover { }
    ul#agencyLinks li::after { content: "|"; margin: 0 .2em 0 .5em; color: #fff; }
    ul#agencyLinks li:last-child::after { content: ""; }
    .nih-tagline { margin: 3em 0 1em 0; color: #fff; font-weight: normal; }

    /*buttons*/
    .btn { border-style: none; border-width: 0; cursor: pointer; font-family: 'Montserrat', Arial, sans-serif; font-weight: bold; line-height: normal; margin: 0 0 1.25em; text-decoration: none; text-align: center; padding-top: 0.375em; padding-right: 0.75em; padding-bottom: 0.4375em; padding-left: 0.75em; font-size: 1em; background-color: #2ba6cb; border-color: #2284a1; color: #fff; /*transitions*/ -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset; -webkit-transition: background-color 300ms ease-out; -moz-transition: background-color 300ms ease-out; transition: background-color 300ms ease-out; }
    .btn:enabled { cursor: pointer; }
    .btn[disabled] { cursor: default; }
    .btn:disabled { cursor: default; color: gray; text-shadow: 1px 1px 0px #fff; }
    a.btn { text-decoration: none; color: #3e3e3e; }
    .btn:hover, .btn:focus { background-color: #2284a1; }
    .serporder .btn { margin: 0; }
    .searchbuttons .btn { margin: 0; background-color: #636363;  }
    .searchbuttons .btn:hover, .searchbuttons .btn:focus { background-color: #4a4a4a; }
    .goAction { background-color: #0eb5bb; border-color: #0a878c; }
    .goAction:hover, .goAction:focus { background-color: #0a878c; }
    .endAction { background-color: #bb0e3d; border-color: #99001a; }
    .endAction:hover, .endAction:focus { background-color: #99001a; }
    /*blue reset btn on cancergov*/
    .altbtn { background-color: #2b7bba; border-color: #216091; color: #fff; }
    .altbtn:hover, .altbtn:focus { background-color: #216091; }
    /*purple btn on cancergov*/
    .altbtn { background-color: #620788; border-color: #3f0557; color: #fff; }
    .altbtn:hover, .altbtn:focus { background-color: #3f0557; }
    .viewCart, a.viewCart { margin: 0 .5em; padding: .2em; color: #fff; }
    .viewCart:hover, .viewCart:focus { /*background-color: #216091;*/ }
    .removeItem { padding: .1em .3em; }
    .printconf { overflow: hidden; }
    .printconfb { position: relative; left: 50%; float: left; }
    .printconfb .btn { display: block; position: relative; left: -50%; }
    .newsearch { }

    /*tables */
    table.help { border: 0; }
    table.help td { vertical-align: bottom; }
    td.help { vertical-align: bottom; }
    .graphic { margin-top: 5px; margin-bottom: 5px; }
    .pagetitle-border { border: 1px solid #bdbdbd; font-weight: bold; font-size: 1.4em; margin-bottom: 1em; color: #464646; }
    .gray-border { border: 1px solid #bdbdbd; }
    /* whole table border */
    .gray-border-left { border-left: 1px solid #bdbdbd; }
    .gray-border-bottom { border-bottom: 1px solid #bdbdbd; }
    .gray-background { background-color: #e6e6e2; }
    /* below classes for applying to cells*/
    .rowHeadLeft { background-color: #e6e6e2; border-bottom: 1px solid #bdbdbd; }
    .rowHead { background-color: #e6e6e2; border-bottom: 1px solid #bdbdbd; border-left: 1px solid #bdbdbd; }
    .rowOddLeft { background-color: #ffffff; }
    .rowOdd { background-color: #ffffff; border-left: 1px solid #bdbdbd; }
    .rowEvenLeft { background-color: #f5f5f3; }
    .rowEven { background-color: #f5f5f3; border-left: 1px solid #bdbdbd; }
    /* for applying to rows*/
    tr.rowHead { background-color: #e6e6e2; border-bottom: 1px solid #bdbdbd; }
    tr.rowOdd { background-color: #ffffff; }
    tr.rowEven { background-color: #f5f5f3; }

    /*homepage*/
    #home { width: 100%; }
    ul.listHomePad { margin: 0; padding-left: 1em; list-style-position: outside; list-style-type: disc; }
    ul.listHomePad li { line-height: 1.5em; }
    #homecols, .serpcols { display: table; padding-top: 1em; width: 100%; }
    .col { display: table-cell; width: 25%; padding: 0 1em; vertical-align: top; text-align: left; border-left: 2px solid #ddd; }
    .browsegroup { padding-bottom: 1em; vertical-align: top; }
    .firstcol { border-left: none; }
    .featuredpubs { padding-top: 1.3em; width: 90%; margin: 0 auto; }
    .featuredpubs span { display: block; line-height: 1.5em; padding-bottom: .5em; width: 100%; margin: 0 auto; }
    .featuredpubs div.slides_container, .featuredpubs div.slidesnavlinks { display: block; margin: 0 auto; width: 136px; }
    .featuredpubs div.slidesnavlinks { margin-top: -3px; }
    .browsegroup h2, .browsegroup h3 { line-height: 1em; font-size: 1.4em; margin-top: 0; margin-bottom: .5em;  }
    .browsegroup h2 span, .browsegroup h3 span { font-family: inherit; font-weight: normal; font-size: .7em; display: block; letter-spacing: normal; }
    .newupdlink, .textazlist { line-height: 1.5em; }

    /*search results*/

    #serp { padding-top: 1em; }
    .serpcols { padding-top: 0; }
    .serpcols .col { border-left: none; line-height: 1.5em; padding-top: .5em; padding-bottom: .5em; }
    .serpimage { width: 5%; }
    .serpimage img { float: right; clear: both; }
    .serpmag img { padding-top: .3em; }
    .serptitle { width: 35%; padding-top: .2em; }
    .serpdet { width: 35%; padding-top: .2em; }
    .serporder { width: 25%; }
    .borderline { height: 1px; border-top: 2px solid #ddd; margin: 0 1em; }
    .serpzero { padding: 0 1em; }
    .serppager { padding: .5em 0; display: table; width: 100%; }
    .serppager .refine { display: table-cell; width: 15%; padding-left: 1em; }
    .serppager .pager { display: table-cell; width: 85%; text-align: right; padding-right: 1em; }
    .serpzero ul li { line-height: 1.5em; }
    .readaslinksview { margin-right: 1.5em; }
    /*modal*/
    .modalBackground { background-color: #B3B3B3; opacity: 0.5; }
    .modalPopup { background-color: #E6E6E6; border: 1px solid #000; padding: 3px; width: 70%; min-width: 500px; max-width: 600px; }
    .poptitle { width: 98%; border-bottom: 1px solid #bdbdbd; padding-left: .5em;}
    .poporder { width: 100%; display: table; }
    .err, .msg { display: block; width: 100%; margin: .5em; }
    .err { color: Red; }
    .poporder .textProdTitle { display: table-cell; width: 80%; padding-right: 1em; padding-left: .5em; }
    .poporder .qty { display: table-cell; text-align: right; width: 20%; }
    .qty input, .cqty input { text-align: right; }
    .cpoporder { width: 100%; }
    .cimg, .cqty { vertical-align: bottom; }
    .cqty { text-align: right; width: 40%; }
    .textContentsmsg { padding: .5em; margin: 0 auto; border: solid 1px black; background-color: White; line-height: 2em; }
    .textContentsmsg img { float: left; margin-right: 1em; }
    #divoutermessage { padding: 1em; }
    .orderbtns .btn { float: right; margin: .5em 0 .5em .5em; color: #fff; }

    /*detail*/
    .DetailOrderButton { width: 80px; height: 27px; }
    .DetailOrderButton, .DetailOrderLimit, .DetailViewLink, .detailrow, .physformatsection { margin: .77em 0 0 0; line-height: 1.3em; }
    .DetailViewLink { display: block; padding: 0; }
    .DetailsImg { padding-top: 1em; }
    .DetailsImg img { max-width: 100%; height: auto; }
    #detailscontainer { margin-top: 1em; padding: 0 1em; }

    #detailsleft { float: left; width: 20%; min-width: 150px; max-width: 300px; }
    #detailsright { float: right; margin-left: 1em; max-width: 250px; width: 33%; padding-top: .5em; }
    #detailsctr { margin-left: 22%; margin-right: 250px; }
    .detailsection { display: block; line-height: 1.3em; padding: 0; margin: 0; }

    #detailsctr h2 { padding-top: .5em; padding-bottom: 1em; }
    #magnify { position: absolute; left: -99999px; top: -99999px; }
    #detailsleft :target { display: block; position: fixed; top: 0; left: 0; height: 100%; width: 100%; color: #fff; background-color: gray; background-color: rgba(100,100,100,0.5); z-index: 100; }
    #detailsleft :target img { display: block; width: 400px; height: 518px; color: #000; background-color: #bebeb4; position: fixed; top: 50%; left: 50%; margin: 0; padding: 15px; margin-left: -200px; margin-top: -259px; z-index: 200; border: 2px solid #bebeb4; border-radius: 10px; }
    #detailsleft :target .closeimg:before { content: "close"; display: block; position: fixed; top: 50%; left: 50%; margin-left: 200px; margin-top: -270px; z-index: 201; padding: 5px; color: #000; background-color: #fff; border: 2px solid #bebeb4; border-radius: 10px; }
    #detailsleft .magglass { display: inline-block; margin: .5em; }
    a.magglass:hover, a.magglass:active, a.magglass:focus { outline: grey dotted 1px; }
    #detailsfooter { clear: both; padding-top: 1em; }
    .morespace { padding-top: 2em; }
    .detailemphasis { font-weight: bold; }
    .detailrow { display: block; }
    .detailrow div, .detailrow span { display: inline; }
    .collections { width: 100%; }
    .collections div { display: block; float: left; margin-right: .2em; }
    .collections td { padding-bottom: .2em; }
    #detailsfooter td { width: 30%; }
    #detailsfooter h3 { margin-bottom: .5em; }
    #detailsfooter img { float: left; margin-right: .5em; }
    #detailsfooter a { line-height: 1.3em; }

    /*cart*/
    #cart, #ship, #verify { padding-top: 1em; }
    #cart ul li, #cart p { line-height: 1.5em; }
    .headSub { font-size: 1.2em; font-weight: bold; color: #464646; }
    #cart .textcontentsmsg { border: none; margin: .5em; }
    #cart table.graphic td, #cart table.graphic th, #verify table.graphic td, #verify table.graphic th { padding: .3em; line-height: 1.2em; }
    .cexp { width: 30%; float: right; }
    .cexp p, .cexp ul { margin: 1em 0; }
    .cexp p { text-align: right; margin-top: 0.5em; }
    div.ctable .btn, div.ctable .linkCheckout { float: right; margin: .5em 0 .5em .5em; }
    #cart .qty { width: 2em; text-align: right; }
    .linkCheckout { line-height: 3em; }
    #cart h2, #verify h2, #ship h2 { margin-top: 0.5em; }

    /*checkout*/
    .ctable { width: 100%; }
    .ctable h2 { float: left; }
    h2.vh2 { float: none; }
    /*progress bar*/
    .ctable .steps { float: right; min-width: 550px; width: 57%; }
    .progressInactive, .progressPrev, .progressCurrent { font-size: 1em; line-height: 1.5em; font-weight: normal; color: #aaa; cursor: default; vertical-align: bottom; padding-top: 1em; }
    .progressPrev { cursor: pointer; color: #944929; }
    .progressCurrent { color: #944929; font-weight: bold; }
    .progressContents { position: relative; }
    .steps img { position: absolute; left: 46%; top: -9999em; }
    .progressCurrent img { top: -1em; }
    img.progressConf { left: 100%; top: -.85em; }
    .progressLine { width: 50.00001%; height: 4px; border-top: 2px solid #e0e1e0; float: left; }
    .progressLineR { float: right; }
    .progressPrev .progressLine, .progressCurrent .progressLine { border-top: 2px solid #944929; }
    .progressCurrent .progressLineR { border-top: 2px solid #e0e1e0; }
    /*checkout fields and text*/
    .addr { width: 48%; float: left; }
    .billaddr { padding-left: 2%; }
    .addr table { width: 100%; }
    .addr td { padding: .2em; width: 70%; }
    #verify .addr td, .vdate { padding: 0 0 0 1em; width: 100%; }
    #verify .addr table, .vdate { margin-top: 1em; }
    #verify .addr td { line-height: 1.2em; }
    .addrfield { width: 90%; }
    .addrfieldz5 { width: 6em; }
    .addrfieldz4 { width: 5em; }
    .addrfieldst { width: 3em; }
    td.labelDefault, #divSecurityQuestion td.labelDefault { text-align: right; padding-right: 1em; width: 30%; }
    .payinfo { width: 100%; margin-top: 1em; }
    .payinfo th, .payinfo td { width: 35%; text-align: left; padding: .2em; }
    .payinfo th.headSub, .payinfo td.labelDefault { text-align: right; padding-right: 1em; width: 63%; }
    #verify .headSub { text-align: left; }
    #verify th.qtyHead, #verify .qtyHead td { text-align: right; }
    td.ckbox { height: 1.5em; }
    td.costtxt span { display: block; float: right; margin-bottom:.8em; }
    td.cost span { display: block; text-align: left; float: left; font-weight: bold; margin-top: .8em; }
    td.cost .btn { float: left; }
    #ship p { line-height: 2em; }
    #verify p, .regconf p { line-height: 1.2em; padding-bottom: 1em; }
    .shipaddr .txtline { padding-top: 1em; padding-bottom: 1em; }
    .vtotal .btn { float: right; }
    .vtotal .cost { margin-bottom: 1em; text-align: right; }
    .vtotal p { margin-top: 1em; text-align: right; }
    #verify .cexp ul li { line-height: 1.2em; margin-top: .5em; }
    .vorder { margin-top: 1em; }

    /*login*/
    .loginhave { border-right: 2px solid #ddd; margin-right: 2%; width: 55%; min-width: 375px; }
    .logincreate { width: 40%; }
    .loginhave h3, .logincreate h3 { text-align: center; margin: 1em; }
    .loginhave p { margin: 1em; }
    #changepw .loginbtns { width: 50%; }
    div.loginhave .forgot { }
    div.loginhave .goAction { padding-left: 3em; padding-right: 3em; margin-right: 6.5%; margin-left: 1em; }
    div.logincreate .loginbtns { text-align: center; margin-top: 3em; }
    div.logincreate .loginbtns .btn { float: none; }
    #forgotpw, #register, #changepw, #refine { line-height: 1.5em; }
    #forgotpw .addrfield, #changepw .addrfield, #register #divUserName .addrfield, #register #divSecurityQuestion .addrfield { max-width: 30em; }
    #forgotpw .btn { margin-right: 50%; }
    #register .addr { margin-top: 2em; }
    #divSecurityQuestion td { padding: .2em; }

    /*refine search*/
    #refine table { width: 100%; }
    #refine td { padding: .3em; }
    #refine td.labelDefault { width: 20%; }
    #refine .btn { margin-right: 1em; }
    .reffield, .dropdownlist { width: 50%; }

    /*help*/
    #help ul { margin: 0.2em 0; padding-left: 2em; list-style-position: outside; }
    #help ol { margin: 0.2em 0; padding-left: 2em; list-style-position: outside; }
    #help li { line-height: 1.3em; margin-top: .5em; margin-bottom: .5em; }
    #help h3 { padding-bottom: 0.25em; padding-top: 0.5em; border-top: 2px solid #ddd; }
    #help p { margin: 0.33em 0 1em; line-height: 1.3em; }
    p.backlink:before { content: "^ "; margin-top: .5em; }
    #help h3.onthispage { border-top: none; margin-top: 0; }
    ul.onthispage li { margin-top: .2em; margin-bottom: .2em; }
    .contentdate { padding-top: .5em; }
    a.fontsizeinherit { font-size: inherit; }
    #help table.table-default { border: 1px solid #BDBDBD; border-collapse: collapse; width: 100%; }
    #help table.table-default thead th { background-color: #ECECEC; border: 1px solid #BDBDBD; padding: 2px 4px; font-weight: bold; width: 33.3%; line-height: 1.2em; }
    #help table.table-default td, #help table.table-default tbody th { border: 1px solid #BDBDBD; padding: 4px; line-height: 1.2em; }
    #help table.table-default thead th.hthsmall { width: 25%; }
    #help table.table-default thead th.hthbig { width: 50%; }
    #help table.printops thead th.rowHead, #help table.printops thead th.rowHeadLeft { width: 20%; }
    ul.txt li { margin-top: 5px; margin-bottom: 5px; }
    #help .textSerpExplain { color: #464646; font-size: 1.15em; margin-bottom: 0.75em; }

    /* ANNC STYLES */
    a.anncbanner { display: block; background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #363636 0%, #4a4a4a 100%) repeat scroll 0 0; padding: .4em 1em; font-family: 'Noto Sans', Arial,sans-serif; line-height: 1.5em; font-size: 1em; font-weight: normal; color: #fff; }
    .anncbanner h2 { font-size: 14px; font-family: 'Montserrat', Arial,sans-serif; color: #fff; text-transform: uppercase; display: inline; }
    a.anncbanner { text-decoration: none; }
    a.anncbanner:hover, a.anncbanner:focus { color: #ccc; background: linear-gradient(to bottom, #494949 0%, #4f4f4f 100%); color: #90f0ff; }
    a.anncbanner h2:hover { color: aqua; }
    a.anncbanner:focus { outline: 1px dashed #ccc; }


    /*NCIPLCC ONLY STYLES*/
    #divLogo { height: 100px; }
    /*larger logo area*/
    .headerLinkRegion { width: 40%; min-width: 300px; height: 100px; }
    p.alert, p.notice { margin-top: 1em; }
    p.alert { color: #936; }
    .loginhave { border-right: none; }
    /*login*/
    #changepw { padding-bottom: 2em; }
    /*change pw*/
    #changepw table { width: 100%; }
    #changepw td { padding: .2em; }
    #changepw td.labelDefault { padding-right: 1em; }
    .acctsection { padding-top: 1em; padding-bottom: 1em; }
    #changepw .btn { float: left; }
    #changepw h3 { padding-top: 1.5em; }
    .shipsection { float: left; width: 30%; }
    /*shipping*/
    .large { width: 40%; }
    .shiplabel { display: block; line-height: 1.5em; padding-top: 1em; }
    .shiptextfield { overflow: auto; overflow-x: hidden; overflow-y: scroll; min-width: 200px; }
    .splitorder { padding-top: 1.5em; }
    /*verify/conf*/
    #searchorder .err { display: block; }
    /*order search*/
    .custtype, .keywords, .searchorderbtn { float: left; }
    .custtype { width: 35%; min-width: 280px; max-width: 350px;  }
    .keywords { width: 55%; min-width: 200px;padding-left:1em; }
    .keywords input { min-width: 200px; width: 95%; }
    .searchorderbtn { float:left; padding-top:2em; }
    .datepicker { float: left; width: 50%; }
    .criteria { line-height: 1.5em; }
    /*order search results*/
    .orderresults tr { border-bottom: 1px solid #B1B1AF; line-height: 1.2em; }
    .orderresults td, th { padding: .5em; vertical-align: middle; }
    .orderresults th { text-align: left; font-weight: bold; }
    #searchorderresult .nav { display: table; border-collapse: collapse; width: 100%; }
    #searchorderresult .nav div { display: table-cell; width: 33%; padding: 1em 1em 1em 0; }
    #searchorderresult .pager { text-align: right; }
    #searchorderresult .pager.bottom { padding-right: 1em; padding-top: 1em; }
    .orderdetails { display: table; width: 100%; margin: 1em 0; }
    /*order detail*/
    .orderdetails span { display: table-cell; width: 25%; padding: 0 1em 0 0; }
    .orderdetailslabel { font-weight: bold; }
    #orderdetail .addr td { line-height: 1.2em; }
    .ordersummary { margin: 1em 0; }
    #orderdetail table.graphic td, #orderdetail table.graphic th { padding: .3em; line-height: 1.2em; }
    .ordercovers { margin-top: .5em; }    
    .carttext { margin: .5em 0; }
    .headerLinkRegion { width: 48%; min-width: 320px; height: 90px; padding-top: 10px; }
    #cartnav { float: left; }
    #loginregion{ float:right; clear:both; padding-left:.5em;  }
    #ordersearchnav {float:right; margin-top: 1em;  }
    #cclogotext { display:block; font-size: 16px; font-weight: normal; position:relative; top:-2.4em;left:7.68em;  }
}

@media screen and (max-width: 1080px) {
    .extra { display: none; }
}

@media screen and (max-width: 920px) {
    /* small width */
    #divLogo { max-height: 100px; width: 43%; }
    .headerLinkRegion { width: 55%; min-width: 320px; }
    .footerSection { width: 100%; }
    ul#agencyLinks li { display: block; text-align: left; margin-left: 1em; }
    ul#agencyLinks li::after { content: ""; }
    .col { padding: 0 .5em; }
}
/* PRINT CSS, HIDE SECTIONS NOT FOR PRINT */
@media print {
    .skip, #ncibanner, #yellowdiv, #divContactBlock, #footerdiv div, #cgvFooter, .modalBackground, .modalPopup, p.backlink, .printconfb, #searchboxregion, .serppager, .hiddenlabel { display: none; }
    body { background-color: #fff; background: none repeat scroll 0 0 transparent; color: #000000; font-family: "Times New Roman" ,Times,serif; font-size: 100%; line-height: 1.3em; margin: 0; }
    #help th, #help td, #cart .gray-border th, #cart .gray-border td { border: 1px solid gray; margin: 0px; padding: 5px; }
    #outerdiv { background: none repeat scroll 0 0 transparent; margin: 0 auto; padding: 0; width: 100%; }
    #outerdiv-underncibanner { width: 100%; border: none; }
    .addr { float: left; width: 50%; }
    .clearFix { display: block; }
    .clearFix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
    ul.listHomePad, ul li { line-height: 1.2em; margin: 0 0 0 .5em; padding: 0; }
    .browsegroup { margin-top: 1em; }
    .DetailsImg img { max-width: 20%; }
    #magnify, .steps { display: none; }
}